[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8.2"

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
